$mobileBreakpoint      : 768px;

$maxImageRowAmount     : 20;
$imageWrapperWidth     : 220;
$imageWrapperMargin    : 10;
$browserScrollbarWidth : 15;
$smallestImageSize     : 100 / ($maxImageRowAmount - 1) * 1%;

$formbarWidth          : 400px;
$formbarHeight         : 200px;