/* ------------------------------------------------------------------------------------------------------------ (all) */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  box-sizing: content-box; }

/* ---------------------------------------------------------------------------------------------------------- Content */
audio, canvas, video {
  display: inline-block; }

:focus {
  outline: none; }
